<!-- FOOTER -->
<div class="footerwrapper clear">
    <div class="footer">
        <p>Copyright 2010 Elastic Search. All Rights Reserved.</p>
		<ul class="footermenu">
			<li><a href="/">Resources</a>
				<ul>
					<li><a href="/blog">Blog</a></li>
					<li><a href="/community/twitter">Twitter</a></li>
					<li><a href="/videos">Videos</a></li>
					<li><a href="/download">Download</a></li>
				</ul>
			</li>
			<li><a href="/blog">Latest</a>
				<ul>
                    {% for post in site.categories.blog limit:5 %}
					<li><a href="{{post.url}}">{{post.title}}</a></li>
					{% endfor %}
				</ul>
			</li>
		</ul>
		<a href="http://www.auerdesign.com" class="auer">Designed by Dan Auer</a>
	</div>
</div>
<!-- END FOOTER -->
