<!-- START SITEHEADER -->
<div class="siteheaderwrapper">
    <div class="siteheader">
    	<h1 class="hidden"><a href="/" class="hidden">elasticsearch</a></h1>
    	<h2 class="hidden">Search Engine for the Cloud</h2>
    	<div class="sitelinks">
            <a href="/products/">Products</a> &middot; <a href="/community/">Community</a> &middot; <a href="/docs/">Docs</a> &middot; <a href="/download/">Download</a>
        </div>

        <div class='homeLink'>
            <div class='branding'>
                <a href='/'><img height="120px" alt='ElasticSearch' rel='nofollow' src='/images/logo.png' title='Return to home' /></a>
            </div>
        </div>	
    </div>
</div>
<!-- END SITEHEADER -->
<div class="dropshadow"></div>
