---
layout: blog
title: Blog
---

{% for post in site.categories.blog limit:10 %}
    <h1 style="margin-bottom: 0em;"><a href="{{post.url}}">{{post.title}}</a></h1>

    <div style="float: right">
        <script type="text/javascript">
             var topsy_nick = "elasticsearch";
             var topsy_theme = "jade";
             var topsy_style = "small";
             var topsy_order = "retweet,count";
             var topsy_title = "{{page.title}}"
             var topsy_url = "http://www.elasticsearch.com/{{page.url}}"
        </script>
        <script type="text/javascript" src="http://cdn.topsy.com/button.js"></script>
    </div>    
    <div style="float: right">
        <a name="fb_share" type="button_count" share_url="http://www.elasticsearch.com/{{page.url}}" href="http://www.facebook.com/sharer.php">Share</a><script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>
    </div>


    <div style="margin-bottom: 2em;">By <a href="/blog/{{post.nick}}">{{post.author}}</a> | {{post.date | date_to_string}}</div>

    {{post.content}}
    
    {% if forloop.last == false %}
    <div class="separator" style="margin-bottom: 2em"></div>
    {% endif %}
{% endfor %}
