---
layout: blog
---

<h1 style="margin-bottom: 0em;">{{page.title}}</h1>

<div style="float: right">
    <a href="http://twitter.com/share" class="twitter-share-button" data-url="http://www.elasticsearch.com{{page.url}}" data-text="{{page.title}}" data-count="horizontal" data-via="elasticsearch" data-related="kimchy:Shay Banon: Founder of elasticsearch">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
</div>    
<!-- <div style="float: right">
    <iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.elasticsearch.com%2F{{ page.url | replace:'/','%2F' }}&amp;layout=button_count&amp;show_faces=true&amp;width=450&amp;action=like&amp;colorscheme=light" scrolling="no" frameborder="0" allowTransparency="true" style="border:none; overflow:hidden; width:90px; height:21px;"></iframe>
</div> -->
<!-- <div style="float: right; padding-right: 30px; padding-top: 2px;">
    <a title="Post on Google Buzz" class="google-buzz-button" href="http://www.google.com/buzz/post" data-button-style="small-count" data-url="http://www.elasticsearch.com/{{page.url}}"></a>
    <script type="text/javascript" src="http://www.google.com/buzz/api/button.js"></script>
</div> -->

<div style="margin-bottom: 2em;">By <a href="/blog/{{page.nick}}">{{page.author}}</a> | {{page.date | date_to_string}}</div>


{{content}}

<div class="separator"></div>

<div class="generic">
<script>
var idcomments_acct = '5516f9588c4ee38e146bb90373a99144';
var idcomments_post_id = '{{page.url}}';
var idcomments_post_url = 'http://www.elasticsearch.com{{page.url}}';
</script>
<span id="IDCommentsPostTitle" style="display:none"></span>
<script type='text/javascript' src='http://www.intensedebate.com/js/genericCommentWrapperV2.js'></script>
</div>