---
layout: default
---

<div class="siteheadersep"></div>
<div class="generic fiveeighty">
    {{content}}
</div>
<div class="generic twoeighty right-float">
    <div style="text-align: center;">
        <a href="http://feeds.feedburner.com/elasticsearch"><img alt="subscribe to elasticsearch feed" src="/images/set3/rss2_128.png" height="70px"></img></a>&nbsp;
        <a href="/community/twitter"><img  height="70px" alt="twitter" src="/images/set3/twitter128.png"></img></a>
        <a href="http://www.facebook.com/pages/elasticsearch/241854170154"><img alt="facebook" src="/images/set3/facebook_64.png" height="64px"></img></a>&nbsp;
    </div>
    <div>
    <div class="separator"></div>
    {% for post in site.categories.blog limit:10 %}
        <h2 style="margin-bottom: 0.1em"><a href="{{post.url}}">{{post.title}}</a></h2>
        <div style="margin-bottom: 1em">By <a href="/blog/{{post.nick}}">{{post.author}}</a> on {{post.date | date_to_string}}</div>
    {% endfor %}
    </div>
    <div class="separator"></div>
</div>
